@import "tailwindcss";

@theme {  
	--font-heading: "Bebas Neue", sans-serif;
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Ubuntu",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Roboto Mono";
	--colour-brand: #1F3044;
}

body {
	color: #1F3044;
}

html,
body {
  @apply bg-white ;
}
